.title{
  font-family: 'Stoke';
}
p {
  font-family: 'Montserrat',  Arial, Helvetica, sans-serif;
  color: white;
}
body {
	font-family:  'Montserrat';
  background: #121212;
	line-height: 1.6;
  text-align: left;
}

.news-headline,
.news-source {
  margin-bottom: 0;
  height: fit-content;
}
.body-container {
  max-width: 100%;
}
.site{
  color: #03dac5;
}

.card {
  background: #1e1e1e!important;
  border-radius: 15px;
  border: 1px solid #000; 
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.15);
}

.list-group {
  border-top: none!important;
  overflow: scroll;
}

.list-group-item {
  background-color: #1e1e1e;
  border-bottom: 1px solid #636363;
}
.icon{
  width: 32px;
  height: 32px;
}

a {
  color: #f5f5f5;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #70EFDE;
  text-decoration: underline;
}

.news-container {
  min-width: 433px;
  height: 732px;
}

.news-row {
  border-bottom: 1px solid #636363;
}

.news-row:last-child {
  border-bottom: none;
}



.news-img {
  height: 60px;
  width: 90px;
}

#lotr{
  text-align: center; 
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#121212;  
}

.btn.incorrect {
  color: white;
  background-color: red;
}

.btn.correct {
  color:white;
  background-color: green;
}

.btn.notAnswered {
  border: 1px solid #03DAC5;
  color: #03DAC5;
}

.gcse-searchbox {
  border-radius: 15px;
  border: 1px solid #000;
  background: #121212;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.clock, .weatherIcon{
  display: inline-block;
  font-size: xx-large;
}