body {
	font-family:  Arial, Helvetica, sans-serif;
	background-color: #3a404a;
	color: #fff;
	line-height: 1.6;
	text-align: center;
    a {
        color: lightslategray;
        background-color: transparent;
        text-decoration: underline;
      }
    a:hover {
        color: paleturquoise;
        background-color: transparent;
        text-decoration: underline;
    }
    p{
        text-align: left;
    }
    card{
        background-color: lightslategray;
    }

}
.body-container {
    max-width: 100%;
}